.Time{
    display: flex;
    justify-content: center;
    gap: 7px;
}

.Time_btn{
    display: flex;
    gap: 3px;
}

.time{
    border: solid red;
}


.progress-bar{
    width: 43rem;
    border: solid red;
    border-radius: 12px;
}



    .progress {
        text-align: center;
        border-radius: 15px;
        height: 12%;
        background-color: green;

    }
    
